197
a:4:{s:8:"template";a:3:{s:15:"Main/index.html";b:1;s:17:"includes/head.tpl";b:1;s:19:"includes/footer.tpl";b:1;}s:9:"timestamp";i:1288120282;s:7:"expires";i:1288123882;s:13:"cache_serials";a:0:{}}<!DOCTYPE html>
<html>

<head>
	<title>NewBiz ABC</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<style type='text/css' media='screen' charset='utf-8'>@import url('http://proffer.homeip.net/themes/default/inc_0_reset.css?316207141');
@import url('http://proffer.homeip.net/themes/default/inc_b_screen.css?889962466');
</style>
	<script type='text/javascript' src='http://proffer.homeip.net/js/right.js?251849228'></script>
<script type='text/javascript' src='http://proffer.homeip.net/get/js/name/Main_index'></script>
<script type='text/javascript' src='http://proffer.homeip.net/js/plugins/right-rater.js?3042526781'></script>
<script type='text/javascript' src='http://proffer.homeip.net/js/plugins/right-tooltips.js?2681264972'></script>
<script type='text/javascript' src='http://proffer.homeip.net/js/plugins/right-dialog.js?3489321011'></script>
<script type='text/javascript' src='http://proffer.homeip.net/js/plugins/right-selectable.js?2427547065'></script>
<script type='text/javascript' src='http://proffer.homeip.net/js/plugins/right-tabs.js?3929659046'></script>

	
	<script type='text/javascript'>
    </script>
	
</head>
<body>
<div id="errordiv"></div>
<div id='header'>
	<span class='headertext'>[ LOGO HERE ]</span>
</div>
<br clear='all' />
<div class='clearbreak'></div>
<div class='container'>
        <div class="fg-toolbar h50">
        	<div style='float: right; padding-right: 15px;'>
				<form method='post' action='/auth/login' id='frmLogin'>
	                <div style='float: right; margin-top: 20px;'>
	                    <a id='btnLogin' class='ui-button ui-corner-all ui-state-default fg-button' style='color: black; padding: 2px;' onclick="$('frmLogin').submit();">Login</a>
	                </div>
	                <div style='float: right; padding-right: 4px; padding-top: 4px;'>
	                    <table cellpadding='1' border='0' cellspacing='1'>
	                        <tr>
	                            <td style='padding-right: 3px;'>Username</td>
	                            <td><input type='text' class='text  ui-corner-all w50' name='uid' id='uid'></td>
	                        </tr>
	                        <tr>
	                            <td style='padding-right: 3px;'>Password</td>
	                            <td><input type='password' class='text ui-corner-all w50' name='pwd' id='pwd'</td>
	                        </tr>
	                    </table>
	                </div>
				</form>
			</div>
        </div>
        <div class='auction'>
<ul id='simple-tabs'>
    <ul>
<li><a href="#tab-1">Tab 1</a></li>
<li><a href="#tab-2">Tab 2</a></li>
    </ul>
<div id="tab-1">Tab 1 Content</div>
<div id="tab-2">Tab 2 Content</div>
</ul>
        </div>
        <div style='clear: both; display: block; vertical-align: middle; text-align: center; padding: 10px; margin: 5px;'>
            <span id='btn_shopnow' class=' ui-button ui-corner-all ui-state-default fg-button' style='padding: 5px;'>SHOP NOW!</span>
        </div>
</div>
	<div id="footer">
        <div class="fg-toolbar h50">
                <div class='right'>
					<span class='header'>Want to know the upcoming deals?  Sign up:</span> <input type='text' name='email' id='email' >
				</div>
        </div>
		<div class='ui-helper-clearfix clearbreak'></div>
		<div class='ui-widget ui-widget-content left'>
			<ul>
				<li class='header'>Company</li>
				<li><a href='#'>Home</a></li>
				<li><a href='#'>Contact Us</a></li>
				<li><a href='#'>About ..</a></li>
				<li><a href='#'>Jobs At..</a></li>
				<li><a href='#'>Press</a></li>
				<li><a href='#'>Legal</a></li>
				<li><a href='#'>Privacy Policy</a></li>
			</ul>
		</div>
		<div class='ui-widget ui-widget-content left'>
			<ul>
				<li class='header'>Learn More</li>
				<li><a href='#'>FAQ</a></li>
				<li><a href='#'>Developers API</a></li>
				<li><a href='#'>Affiliate Program</a></li>
				<li><a href='#'>Suggest a Vendor</a></li>
				<li><a href='#'>Get Featured</a></li>
			</ul>
		</div>
	</div>
	</body>
</html>