227
a:4:{s:8:"template";a:4:{s:16:"Admin/index.html";b:1;s:17:"includes/head.tpl";b:1;s:17:"includes/menu.tpl";b:1;s:19:"includes/footer.tpl";b:1;}s:9:"timestamp";i:1290887809;s:7:"expires";i:1290891409;s:13:"cache_serials";a:0:{}}<!DOCTYPE html>
<html>

<head>
	<title>NewBiz ABC</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<style type='text/css' media='screen' charset='utf-8'>@import url('http://localhost/themes/default/inc_0_reset.css?935730555');
@import url('http://localhost/themes/default/inc_a_jquery.css?1596733243');
@import url('http://localhost/themes/default/inc_b_screen.css?2551707266');
</style>
	<script type='text/javascript' src='http://localhost/js/jquery.js?352367924'></script>
<script type='text/javascript' src='http://localhost/js/jqueryui.js?3444870149'></script>
<script type='text/javascript' src='http://localhost/get/js/name/Admin_index'></script>
<script type='text/javascript'>console.log('CTK_JS: could not find "plugins/rater.js"');</script>
<script type='text/javascript'>console.log('CTK_JS: could not find "plugins/tooltips.js"');</script>
<script type='text/javascript'>console.log('CTK_JS: could not find "plugins/dialog.js"');</script>
<script type='text/javascript'>console.log('CTK_JS: could not find "plugins/selectable.js"');</script>
<script type='text/javascript'>console.log('CTK_JS: could not find "plugins/tabs.js"');</script>

	
	<script type='text/javascript'>
    </script>
	
</head>
<body>
<div id="errordiv"></div>
<div id='header'>
	<span class='headertext'>[ LOGO HERE ]</span>
</div>
<br clear='all' />
<div class='clearbreak'></div>
<div class="fg-toolbar h50">
    <div style='float: right; padding-right: 15px;'>
		User: <b>admin</b>&nbsp;(<a href='/auth/logout'>Logout</a>)<br />
		Type: <b>ADMIN</b><br />
	</div>
</div><div class='container w100p'>
</div>
	<div id="footer">
        <div class="fg-toolbar">
        </div>
		<div class='ui-helper-clearfix clearbreak'></div>
	</body>
</html>