197
a:4:{s:8:"template";a:3:{s:15:"Auth/login.html";b:1;s:17:"includes/head.tpl";b:1;s:19:"includes/footer.tpl";b:1;}s:9:"timestamp";i:1288120292;s:7:"expires";i:1288123892;s:13:"cache_serials";a:0:{}}<!DOCTYPE html>
<html>

<head>
	<title>NewBiz ABC</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<style type='text/css' media='screen' charset='utf-8'>@import url('http://proffer.homeip.net/themes/default/inc_0_reset.css?316207141');
@import url('http://proffer.homeip.net/themes/default/inc_b_screen.css?889962466');
</style>
	<script type='text/javascript' src='http://proffer.homeip.net/js/right.js?251849228'></script>

	
	<script type='text/javascript'>
    </script>
	
</head>
<body>
<div id="errordiv"></div>
<div id='header'>
	<span class='headertext'>[ LOGO HERE ]</span>
</div>
<br clear='all' />
<div class='clearbreak'></div>
<div class='container'>
        <div class="fg-toolbar h50">
        </div>
        <div class='auction'>
<form method='post' action='/auth/login/'>
	<div id="login">
<h2>Log in</h2>
				<div class='error' style='text-align: center; vertical-align: middle;'></div>
				<table align='center' border='1'>
					<tr>
						<td >Username:</td>
						<td><input type='text' name='uid' id='uid'></td>
					</tr>
					<tr>
						<td >Password:</td>
						<td><input type='password' name='pwd' id='pwd'></td>
					</tr>
					<TR>
						<td>&nbsp;</td>
						<td>
							 <a id='btnLogin' class='ui-button ui-corner-all ui-state-default fg-button' style='color: black; padding: 2px;' onclick="$('frmLogin').submit();">Login</a>
						</td>
					</TR>
				</table>
	</div>
</form>
</div>
	<div id="footer">
        <div class="fg-toolbar h50">
                <div class='right'>
					<span class='header'>Want to know the upcoming deals?  Sign up:</span> <input type='text' name='email' id='email' >
				</div>
        </div>
		<div class='ui-helper-clearfix clearbreak'></div>
		<div class='ui-widget ui-widget-content left'>
			<ul>
				<li class='header'>Company</li>
				<li><a href='#'>Home</a></li>
				<li><a href='#'>Contact Us</a></li>
				<li><a href='#'>About ..</a></li>
				<li><a href='#'>Jobs At..</a></li>
				<li><a href='#'>Press</a></li>
				<li><a href='#'>Legal</a></li>
				<li><a href='#'>Privacy Policy</a></li>
			</ul>
		</div>
		<div class='ui-widget ui-widget-content left'>
			<ul>
				<li class='header'>Learn More</li>
				<li><a href='#'>FAQ</a></li>
				<li><a href='#'>Developers API</a></li>
				<li><a href='#'>Affiliate Program</a></li>
				<li><a href='#'>Suggest a Vendor</a></li>
				<li><a href='#'>Get Featured</a></li>
			</ul>
		</div>
	</div>
	</body>
</html>