197
a:4:{s:8:"template";a:3:{s:15:"Main/index.html";b:1;s:17:"includes/head.tpl";b:1;s:19:"includes/footer.tpl";b:1;}s:9:"timestamp";i:1411234180;s:7:"expires";i:1411237780;s:13:"cache_serials";a:0:{}}<!DOCTYPE html>
<html>

<head>
	<title>Tutorary - Your Online Tutor Library</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<style type='text/css' media='screen' charset='utf-8'>@import url('http://tutorary.com/themes/default/inc_a_jquery.css?854829823');
@import url('http://tutorary.com/themes/default/inc_b_screen.css?4119974583');
@import url('http://tutorary.com/themes/default/inc_c_screen.css?3029702723');
</style>
	<script type='text/javascript' src='http://tutorary.com/js/jquery.js?2692899377'></script>
<script type='text/javascript' src='http://tutorary.com/js/jquerytools.js?941743421'></script>
<script type='text/javascript' src='http://tutorary.com/js/jqueryui.js?785847083'></script>
<script type='text/javascript' src='http://tutorary.com/get/js/name/Public_Main_index'></script>

	<script src="//cdnjs.cloudflare.com/ajax/libs/less.js/1.7.5/less.min.js"></script>
	
	<script type='text/javascript'>
    </script>
	
</head>
<body>
    <div class="body">
        <div class="top_top_bg center_ie">
            <div class="w1000px center">
                <div class="float_left" style="position:absolute"><a href="/"><img style='position: relative; margin-top: -32px;' src="/media/logo.png"  alt="Your Tutor Library" /></a></div>
                <div class="top_menu">
                    <ul>
                        <li class="act"><a href="/">Home</a></li>
                        <li><a href="/help/faq/">Questions&nbsp;and&nbsp;Answers</a></li>
                        <li><a href="/general/news/">News</a></li>
                        <li><a href="/general/contact">Contact</a></li>
                        <li><a href="/accounts/login/">Login / Register</a></li>
                    </ul>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="top_bg center_ie"><div class="top_bg_over">
            <div class="w1000px center"> 
                <div class="float:left">
                  <div class="w200px header float_left">
                  <div class="margin_left_15_px width_180px ta_justify">
					  <span class="headerTitle">Math &amp; Science</span>
						<div class="clear"></div>
					  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis aliquet tincidunt augue, eu congue magna aliquam euismod. In ipsum lorem, vestibulum id lobortis sit amet, pulvinar in diam. Maecenas luctus arcu et leo cursus pulvinar.
                            <a href="/poit/" class="ui-button as">Button</a>
                        </div>
                    </div>
                    <div class="w200px header float_left">
                        <div class="margin_left_15_px  width_180px ta_justify">
					  <span class="headerTitle">Reading</span>
						<div class="clear"></div>
					  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis aliquet tincidunt augue, eu congue magna aliquam euismod. In ipsum lorem, vestibulum id lobortis sit amet, pulvinar in diam. Maecenas luctus arcu et leo cursus pulvinar.
                            <a href="/poit/" class="ui-button as">Button</a>
                        </div>
                    </div>
                    <div class="w200px header float_left">
                        <div class="margin_left_15_px   width_180px ta_justify">
					  <span class="headerTitle">Language</span>
						<div class="clear"></div>
					  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis aliquet tincidunt augue, eu congue magna aliquam euismod. In ipsum lorem, vestibulum id lobortis sit amet, pulvinar in diam. Maecenas luctus arcu et leo cursus pulvinar.
                            <a href="/poit/" class="ui-button as">Button</a>
                        </div>
                    </div>
                    <div class="w200px header float_left">
                        <div class="margin_left_15_px   width_180px ta_justify">
					  <span class="headerTitle">And More!</span>
						<div class="clear"></div>
					  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis aliquet tincidunt augue, eu congue magna aliquam euismod. In ipsum lorem, vestibulum id lobortis sit amet, pulvinar in diam. Maecenas luctus arcu et leo cursus pulvinar.
                            <a href="/poit/" class="ui-button as">Button</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div><div class="main_bg center_ie">
            <div class="w1000px center">
                <div class="float_left w697px">
					<div class="content">
					
</div>
        		</div>
            </div>
        <div class="bottom_bg center_ie">
            <div class="w1000px center">
                <div class="clear"></div>
                <div class="foot_privacy float_left">
                    <div class="privacy">
                       <a href="/general/toc/" rel="nofollow">Terms and Conditions</a> | <a href="/general/privacy/" rel="nofollow">Privacy Policy</a>  <a href="/general/service/">Service</a><br />
					   Copyright &copy; 2011 Tutorary.com
                    </div>
                </div>
                <div class="footer_menu">
                    <ul>
						<li><a href="#">Footer Menu Link</a></li>
						<li><a href="#">Footer Menu Link</a></li>
						<li><a href="#">Footer Menu Link</a></li>
						<li><a href="#">Footer Menu Link</a></li>
						<li><a href="#">Footer Menu Link</a></li>
						<li><a href="#">Footer Menu Link</a></li>
                    </ul>
                    <ul>
						<li><a href="#">Footer Menu Link</a></li>
						<li><a href="#">Footer Menu Link</a></li>
						<li><a href="#">Footer Menu Link</a></li>
						<li><a href="#">Footer Menu Link</a></li>
						<li><a href="#">Footer Menu Link</a></li>
						<li><a href="#">Footer Menu Link</a></li>
                    </ul>
                    <ul>
						<li><a href="#">Footer Menu Link</a></li>
						<li><a href="#">Footer Menu Link</a></li>
						<li><a href="#">Footer Menu Link</a></li>
						<li><a href="#">Footer Menu Link</a></li>
						<li><a href="#">Footer Menu Link</a></li>
						<li><a href="#">Footer Menu Link</a></li>
                    </ul>
                 </div>
            </div>
			<br />
        <div class="clear"> </div>
</div>
    </div>
</body>
</html>