312
a:4:{s:8:"template";a:6:{s:22:"Accounts/register.html";b:1;s:20:"includes/iheader.tpl";b:1;s:23:"Accounts/register-1.tpl";b:1;s:23:"Accounts/register-2.tpl";b:1;s:23:"Accounts/register-3.tpl";b:1;s:19:"includes/footer.tpl";b:1;}s:9:"timestamp";i:1410982270;s:7:"expires";i:1410985870;s:13:"cache_serials";a:0:{}}<!DOCTYPE html>
<html>

<head>
	<title>Tutorary - Your Online Tutor Library</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<style type='text/css' media='screen' charset='utf-8'>@import url('http://www.tutorary.com/themes/default/inc_0_reset.css?935730555');
@import url('http://www.tutorary.com/themes/default/inc_a_jquery.css?854829823');
@import url('http://www.tutorary.com/themes/default/inc_b_screen.css?4119974583');
@import url('http://www.tutorary.com/themes/default/inc_c_screen.css?3029702723');
</style>
	<script type='text/javascript' src='http://www.tutorary.com/js/jquery.js?2692899377'></script>
<script type='text/javascript' src='http://www.tutorary.com/js/jquerytools.js?941743421'></script>
<script type='text/javascript' src='http://www.tutorary.com/js/jqueryui.js?785847083'></script>
<script type='text/javascript' src='http://www.tutorary.com/get/js/name/Public_Accounts_register'></script>

	
	<script type='text/javascript'>
    </script>
	
</head>
<body>
    <div class="body">
        <div class="top_top_bg center_ie">
            <div class="w1000px center">
                <div class="float_left" style="position:absolute"><a href="/"><img style='position: relative; margin-top: -32px;' src="/media/logo.png"  alt="Your Tutor Library" /></a></div>
                <div class="top_menu">
                    <ul>
                        <li class="act"><a href="/">Home</a></li>
                        <li><a href="/help/faq/">Questions&nbsp;and&nbsp;Answers</a></li>
                        <li><a href="/general/news/">News</a></li>
                        <li><a href="/general/contact">Contact</a></li>
                        <li><a href="/auth/login/">Login</a></li>
                        <li><a href="/accounts/register/">Signup</a></li>
                    </ul>
                </div>
                <div class="clear"></div>
            </div>
        </div>
	<div class="top_bg_admin center_ie" ></div>
	<div class="main_bg center_ie">
		<div class="w1000px center">
			<div class="float_left w697px">
				<div class="content"><div class="form-sub-title"><b>Sign Up</b> - It's free, and anyone can join!</div>
<form method="post" action="/accounts/login/">
	<div class="center">
		<!-- scrollable root element -->
		<div id="wizard">

			<!-- status bar -->
			<ul id="status">
				<li class="active"><strong>1.</strong> Create Login</li>
				<li><strong>2.</strong> Profile &amp; Contact Information</li>
				<li><strong>3.</strong> Confirmation</li>
			</ul>		
			<!-- scrollable items -->
			<div class="items">
				<div class="page"><div style='position: relative; margin-top: 0px; height: 50px;'>
	<a class='next right button'>Next &raquo;</a>
</div>
<table class="center w400px">
	<tbody>
		<tr>
			<td ><label for="email">Your Email:</label></td>
		</tr>
			<td ><div class="input-container"><input type="text" id="email" name="email"><br />This will be your login!</div><br /></td>
		</tr>
		<tr>
			<td ><label for="pass">New Password:</label></td>
		</tr>
		<tr>
			<td ><div class="input-container"><input type="password" id="pass" name="pass"></div></td>
		</tr>
		<tr>
			<td><br /><label for="accountType">Type of Account:</label></td>
		</tr>
		<tr>
			<td>
				<div class="input-container">
					<select name="accountType" id="accountType">
						<option value="1">Tutoring</option>
						<option value="2">Educator</option>
					</select>
				</div>
			</td>
		</tr>
	</tbody>
</table></div>
				<div class="page"><div style='position: relative; margin-top: 0px; height: 50px;'>
	<a class='prev button'>&laquo; Back</a>&nbsp;&nbsp;<a class='next right button'>Next &raquo;</a>
</div>
<table>
	<tbody>
		<tr>
			<td><label for="fname">First Name:</label></td>
			<td><label for="mi">M.I:</label></td>
			<td><label for="lname">Last Name:</label></td>
		</tr>
		<tr>
			<td><div class="input-container"><input type="text" id="fname" name="fname"></div></td>
			<td><div class="input-container"><input type="text" id="mi" name="mi" style="width: 30px;"></div></td>
			<td><div class="input-container"><input type="text" id="lname" name="lname"></div></td>
		</tr>
	<tr><td colspan="2"><label for="sex-select">I am:</label></td></tr>
	<tr>
		<td colspan="2">
		<div class="input-container">
		<select id="sex-select" name="sex-select">
		<option value="0">Select Sex:</option>
		<option value="1">Female</option>
		<option value="2">Male</option>
		</select>
		</div>
		
		</td>
	</tr>
	<tr><td colspan="3"><label>Birthday:</label></td></tr>
	<tr>
		<td colspan="3">
			<div class="input-container">
				<select name="month"><option value="0">Month:</option>
					<option value="1">Jan</option>
					<option value="2">Feb</option>
					<option value="3">Mar</option>
					<option value="4">Apr</option>
					<option value="5">May</option>
					<option value="6">Jun</option>
					<option value="7">Jul</option>
					<option value="8">Aug</option>
					<option value="9">Sep</option>
					<option value="10">Oct</option>
					<option value="11">Nov</option>
					<option value="12">Dec</option>
				</select>
				<select name="day"><option value="0">Day:</option>
									<option value="1">1</option>
									<option value="2">2</option>
									<option value="3">3</option>
									<option value="4">4</option>
									<option value="5">5</option>
									<option value="6">6</option>
									<option value="7">7</option>
									<option value="8">8</option>
									<option value="9">9</option>
									<option value="10">10</option>
									<option value="11">11</option>
									<option value="12">12</option>
									<option value="13">13</option>
									<option value="14">14</option>
									<option value="15">15</option>
									<option value="16">16</option>
									<option value="17">17</option>
									<option value="18">18</option>
									<option value="19">19</option>
									<option value="20">20</option>
									<option value="21">21</option>
									<option value="22">22</option>
									<option value="23">23</option>
									<option value="24">24</option>
									<option value="25">25</option>
									<option value="26">26</option>
									<option value="27">27</option>
									<option value="28">28</option>
									<option value="29">29</option>
									<option value="30">30</option>
									<option value="31">31</option>
								</select>
				<select name="year"><option value="0">Year:</option>
					
				</select>
			</div>
		</td>
	</tr>
	</tbody>
</table></div>
				<div class="page"><div style='position: relative; margin-top: 0px; height: 50px;'>
	<a class='prev button'>&laquo; Back</a>&nbsp;&nbsp;<a class='right button'>Complete Registration &raquo;</a>
</div></div>
			</div>
		</div>
	</div>
</form>
</div>
        		</div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>          <div class="bottom_bg center_ie">
            <div class="w1000px center">
                <div class="clear"></div>
                <div class="foot_privacy float_left">
                    <div class="privacy">
                       <a href="/general/toc/" rel="nofollow">Terms and Conditions</a> | <a href="/general/privacy/" rel="nofollow">Privacy Policy</a>  <a href="/general/service/">Service</a><br />
					   Copyright &copy; 2011 Tutorary.com
                    </div>
                </div>
                <div class="footer_menu">
                    <ul>
						<li><a href="#">Footer Menu Link</a></li>
						<li><a href="#">Footer Menu Link</a></li>
						<li><a href="#">Footer Menu Link</a></li>
						<li><a href="#">Footer Menu Link</a></li>
						<li><a href="#">Footer Menu Link</a></li>
						<li><a href="#">Footer Menu Link</a></li>
                    </ul>
                    <ul>
						<li><a href="#">Footer Menu Link</a></li>
						<li><a href="#">Footer Menu Link</a></li>
						<li><a href="#">Footer Menu Link</a></li>
						<li><a href="#">Footer Menu Link</a></li>
						<li><a href="#">Footer Menu Link</a></li>
						<li><a href="#">Footer Menu Link</a></li>
                    </ul>
                    <ul>
						<li><a href="#">Footer Menu Link</a></li>
						<li><a href="#">Footer Menu Link</a></li>
						<li><a href="#">Footer Menu Link</a></li>
						<li><a href="#">Footer Menu Link</a></li>
						<li><a href="#">Footer Menu Link</a></li>
						<li><a href="#">Footer Menu Link</a></li>
                    </ul>
                 </div>
            </div>
			<br />
        <div class="clear"> </div>
</div>
    </div>
</body>
</html>