200
a:4:{s:8:"template";a:3:{s:15:"Auth/login.html";b:1;s:20:"includes/iheader.tpl";b:1;s:19:"includes/footer.tpl";b:1;}s:9:"timestamp";i:1410956079;s:7:"expires";i:1410959679;s:13:"cache_serials";a:0:{}}<!DOCTYPE html>
<html>

<head>
	<title>Tutorary - Your Online Tutor Library</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<style type='text/css' media='screen' charset='utf-8'>@import url('http://www.tutorary.com/themes/default/inc_0_reset.css?935730555');
@import url('http://www.tutorary.com/themes/default/inc_a_jquery.css?854829823');
@import url('http://www.tutorary.com/themes/default/inc_b_screen.css?4119974583');
@import url('http://www.tutorary.com/themes/default/inc_c_screen.css?3029702723');
</style>
	<script type='text/javascript' src='http://www.tutorary.com/js/jquery.js?2692899377'></script>
<script type='text/javascript' src='http://www.tutorary.com/js/jquerytools.js?941743421'></script>
<script type='text/javascript' src='http://www.tutorary.com/js/jqueryui.js?785847083'></script>

	
	<script type='text/javascript'>
    </script>
	
</head>
<body>
    <div class="body">
        <div class="top_top_bg center_ie">
            <div class="w1000px center">
                <div class="float_left" style="position:absolute"><a href="/"><img style='position: relative; margin-top: -32px;' src="/media/logo.png"  alt="Your Tutor Library" /></a></div>
                <div class="top_menu">
                    <ul>
                        <li class="act"><a href="/">Home</a></li>
                        <li><a href="/help/faq/">Questions&nbsp;and&nbsp;Answers</a></li>
                        <li><a href="/general/news/">News</a></li>
                        <li><a href="/general/contact">Contact</a></li>
                        <li><a href="/auth/login/">Login</a></li>
                        <li><a href="/accounts/register/">Signup</a></li>
                    </ul>
                </div>
                <div class="clear"></div>
            </div>
        </div>
	<div class="top_bg_admin center_ie" ></div>
	<div class="main_bg center_ie">
		<div class="w1000px center">
			<div class="float_left w697px">
				<div class="content"><form method="post" action="/accounts/login/">
	<div class="center w300px">
		<div class="w300px">
			<div class="w100px di label-l">Username:</div>
			<div class="w200px di"><input type="text" name="uid" id="uid" /></div>
		</div>
		<div class="w300px">
			<div class="w100px di label-l">Password:</div>
			<div class="w200px di"><input type="password" name="pwd" id="pwd" /></div>
		</div>
		<div class="label-s center">
			<div class="w300px di center"><a href="/accounts/recover/">Forgot Password?</a>&nbsp;&nbsp;<a href="/accounts/register/">Register</a></div>
		</div>
	</div>
<div style='position: relative; margin-top: 0px; height: 50px;'>
	<a class='next right button'>Next &raquo;</a>
</div>
	 <div class="center w300px">
		<a class='button'>test</a>
	</div>
</form>
</div>
        		</div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>          <div class="bottom_bg center_ie">
            <div class="w1000px center">
                <div class="clear"></div>
                <div class="foot_privacy float_left">
                    <div class="privacy">
                       <a href="/general/toc/" rel="nofollow">Terms and Conditions</a> | <a href="/general/privacy/" rel="nofollow">Privacy Policy</a>  <a href="/general/service/">Service</a><br />
					   Copyright &copy; 2011 Tutorary.com
                    </div>
                </div>
                <div class="footer_menu">
                    <ul>
						<li><a href="#">Footer Menu Link</a></li>
						<li><a href="#">Footer Menu Link</a></li>
						<li><a href="#">Footer Menu Link</a></li>
						<li><a href="#">Footer Menu Link</a></li>
						<li><a href="#">Footer Menu Link</a></li>
						<li><a href="#">Footer Menu Link</a></li>
                    </ul>
                    <ul>
						<li><a href="#">Footer Menu Link</a></li>
						<li><a href="#">Footer Menu Link</a></li>
						<li><a href="#">Footer Menu Link</a></li>
						<li><a href="#">Footer Menu Link</a></li>
						<li><a href="#">Footer Menu Link</a></li>
						<li><a href="#">Footer Menu Link</a></li>
                    </ul>
                    <ul>
						<li><a href="#">Footer Menu Link</a></li>
						<li><a href="#">Footer Menu Link</a></li>
						<li><a href="#">Footer Menu Link</a></li>
						<li><a href="#">Footer Menu Link</a></li>
						<li><a href="#">Footer Menu Link</a></li>
						<li><a href="#">Footer Menu Link</a></li>
                    </ul>
                 </div>
            </div>
			<br />
        <div class="clear"> </div>
</div>
    </div>
</body>
</html>